<section>
	<div class="page-header">
        <h1>Tarina aloitettu {{story.created | date }} klo {{story.created | date:'H.m'}}</h1>
	</div>
    <div class="pull-right" data-ng-show=" ((authentication.user) && (authentication.user._id == story.user._id))">

    <a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

    <ul class="list-group" ng-repeat="part in story.storyparts">

        <li class="list-group-item">

            <span class="badge"> Osa {{$index+1}}:kirjoitettu {{part.created| date:'H.m'}}</span>


            <div ng-repeat="row in part.rows track by $index">
                <span>{{row}}</span>

            </div>
        </li>


    </ul>
</section>
