<section>
	<div class="page-header">
        <h1>Valmis tarina on tässä</h1>
        Se on aloitettu {{story.created | date:'shortDate' }} klo {{story.created | date:'HH:mm'}}
	</div>
    <div class="pull-right" data-ng-show=" ((authentication.user) && (authentication.user._id == story.user._id))">

    <a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

    <ul class="list-group storypart-margins" ng-repeat="part in story.storyparts">

        <li class="list-group-item">

            <span class="badge"> Osan {{$index+1}}:kirjoitti {{part.user.displayName}} {{part.created| date:'HH:mm'}}</span>


            <div ng-repeat="row in part.rows track by $index">
                <span>{{row}}</span>

            </div>
        </li>


    </ul>

    <br/>
    <div class="row" data-ng-show="authentication.user">
        <p>
            <a ui-sref="createGameDefining" class="btn btn-primary">Aloita uusi peli</a>
        </p>
    </div>

</section>
