<section data-ng-controller="StorygamesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Storygames</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="storygame in storygames" data-ng-href="#!/storygames/{{storygame._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="storygame.created | date:'medium'"></span>
				by
				<span data-ng-bind="storygame.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="storygame.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!storygames.$resolved || storygames.length">
    	No Storygames yet, why don't you <a href="/#!/storygames/create">create one</a>?
    </div>
</section>