<section>
	<div class="page-header">
		<h1 data-ng-bind="storygame.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == storygame.user._id))">
		<a class="btn btn-primary" href="/#!/storygames/{{storygame._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<h2>Pelille annettu otsikko: {{currentGame.gameTitle}}</h2>

	<div>{{currentGame.gameDescription}}</div>
	<small>

		<em class="text-muted">
			Pelin aloitti <span data-ng-bind="currentGame.players[0].inviteEmail"></span>
			<span data-ng-bind="currentGame.created | date:'mediumDate'"></span>


		</em>
	</small>
	<ui-view></ui-view>
</section>
