<section >
    <div class="page-header">
        <h1>Jatka tarinaa seuraavat 3 riviä</h1>
    </div>
    <div class="col-md-12">
        <ng-form name="storyPartForm" class="form-group">

            <div class="row ">
                <input class="form-control" id="previousRowField" type="text" data-ng-model="lastLineOfPrevious.row"
                       disabled/>
            </div>
            <div ng-repeat="(i,v) in [0,1,2]" class="row">

                <div class="controls">
                    <input placeholder="{{$index+1}} rivi" id="rowField{{$index+1}}"
                           type="text" ng-maxlength="80" ng-minlength="3"
                           required
                           data-ng-model="newStoryPartFields.rows[$index]" class="form-control" required>
                </div>

            </div>
            <br/>
            <div class=" row form-group">
                <input type="button" ng-click="create()" ng-disabled="storyPartForm.$invalid"
                       value="Seuraavan vuoro jatkaa" class="btn btn-info col-md-2"/>
                <input type="button" value="Tarina on valmis" class="btn btn-success col-md-offset-8 col-md-2"
                       data-ng-click="create(true)"
                       ng-disabled=" (storyPartForm.$invalid  || story.creator !== authentication.user._id) "/>
            </div>

        </ng-form>


        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>

    </div>
</section>
